@use "./colors" as *;
@use "./variables" as *;
@use "./mixinis" as *;

// reusable classes
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.des-blue {
  background-color: $desaturated-blue;
}

.active {
  color: $white;
}

body {
  background-color: $very-dark-blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: $mobile-min-h;
  padding: 0 $padding-24;
}

main {
  gap: $grid-mobile-gap;
  width: 100%;

  section {
    border-radius: $rounded-15;
    background-position: 88% -7%;
    background-repeat: no-repeat;
    @include activityBg();
    &.profil-section,
    > div {
      background-color: $dark-blue;
      border-radius: $rounded-15;
    }
  }

  .activity {
    padding-top: $mtop-mobile-activity;
    > div {
      height: 100%;
      padding: $padding-mobile-act;
    }
    .title-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: $padding-5;
    }
    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
  }

  .profil-section {
    display: flex;
    flex-direction: column;
    img {
      height: $image-mobile-h;
      border: 2px white solid;
      border-radius: $rounded;
    }
    figure {
      flex: 133;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $blue;
      border-radius: $rounded-15;
      padding: $padding-30;
    }

    ul {
      flex: 70;
      padding: $padding-30;
      display: flex;
      justify-content: space-between;
      max-height: 10.25rem;
      color: $pale-blue;
    }
  }
}

li:hover {
  color: white;
}

li:hover,
.details:hover,
.title-container img:hover {
  cursor: pointer;
}

.activity > div:hover {
  background-color: $desaturated-blue;
}

@media (min-width: 48rem) {
  body {
    min-height: $desktop-min-h;
  }
  main {
    grid-template-columns: repeat(4, 1fr);
    gap: $grid-desktop-gap;
    max-width: $desktop-main-max-w;
    min-height: $desktop-main-min-h;

    .profil-section {
      grid-row: 1/3;
    }
    .activity {
      padding-top: $mtop-desktop-activity;
      > div {
        padding: $padding-desktop-act;
      }
      .details {
        flex-direction: column;
        align-items: flex-start;
      }
    }

    .profil-section {
      img {
        height: $image-desktop-h;
      }
      figure {
        flex: 354;
        flex-direction: column;
        align-items: flex-start;
      }
      figcaption {
        padding-bottom: $padding-32;
      }
      ul {
        flex: 164;
        flex-direction: column;
      }
    }
  }
}
