$body-font: 1.125rem;

$desktop-main-max-w: 69.375rem;

$mobile-min-h: 91.8125rem;
$desktop-min-h: 64rem;
$desktop-main-min-h: 32.375rem;
$grid-mobile-gap: 1.5rem;
$grid-desktop-gap: 1.875rem;

$mtop-mobile-activity: 2.3775rem;
$mtop-desktop-activity: 2.8125rem;
$padding-mobile-act: 1.5rem;
$padding-desktop-act: 1.875rem;

$image-desktop-h: 4.875rem;
$image-mobile-h: 4rem;

$padding-32: 2rem;
$padding-30: 1.875rem;
$padding-24: 1.5rem;
$padding-5: 0.34375rem;

$gap-ul: 1.3125rem;

$rounded-15: 0.9375rem;
$rounded: 50%;
