*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
}

input,
button {
  font: inherit;
}

p,
h1,
h2 {
  overflow-wrap: break-word;
}

fieldset {
  border: none;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Rubik", sans-serif;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 300;
}

ul li {
  list-style: none;
  font-size: 1.125rem;
}

span {
  font-size: 0.9375rem;
  color: hsl(236, 100%, 87%);
}

p {
  font-size: 1.125rem;
}
p.count {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.25;
}
p.title {
  font-weight: 500;
}

@media (min-width: 64rem) {
  h1 {
    font-size: 2.5rem;
  }
  p.count {
    font-size: 3.5rem;
  }
}
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.des-blue {
  background-color: hsl(235, 45%, 61%);
}

.active {
  color: white;
}

body {
  background-color: hsl(226, 43%, 10%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 91.8125rem;
  padding: 0 1.5rem;
}

main {
  gap: 1.5rem;
  width: 100%;
}
main section {
  border-radius: 0.9375rem;
  background-position: 90% -5%;
  background-repeat: no-repeat;
}
main section.work {
  background-color: hsl(15, 100%, 70%);
  background-image: url("../images/icon-work.svg");
}
main section.play {
  background-color: hsl(195, 74%, 62%);
  background-image: url("../images/icon-play.svg");
}
main section.study {
  background-color: hsl(348, 100%, 68%);
  background-image: url("../images/icon-study.svg");
}
main section.exercise {
  background-color: hsl(145, 58%, 55%);
  background-image: url("../images/icon-exercise.svg");
}
main section.social {
  background-color: hsl(264, 64%, 52%);
  background-image: url("../images/icon-social.svg");
}
main section.self-care {
  background-color: hsl(43, 84%, 65%);
  background-image: url("../images/icon-self-care.svg");
}
main section.profil-section,
main section > div {
  background-color: hsl(235, 46%, 20%);
  border-radius: 0.9375rem;
}
main .activity {
  padding-top: 2.3775rem;
}
main .activity > div {
  height: 100%;
  padding: 1.5rem;
}
main .activity .title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.1875rem;
}
main .activity .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
main .activity .count {
  padding-bottom: 0.22rem;
}
main .profil-section {
  display: flex;
  flex-direction: column;
}
main .profil-section img {
  height: 4rem;
  border: 3px white solid;
  border-radius: 50%;
  margin: 0 1.875rem;
}
main .profil-section figcaption {
  margin: 0 2rem;
}
main .profil-section figure {
  flex: 133;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: hsl(246, 80%, 60%);
  border-radius: 0.9375rem;
  padding: 2.125rem 0;
}
main .profil-section ul {
  flex: 70;
  padding: 1.5rem 2rem 1.875rem;
  display: flex;
  justify-content: space-between;
  max-height: 10.25rem;
}
main button {
  background-color: transparent;
  border: none;
  color: hsl(235, 45%, 61%);
}

button:hover {
  color: white;
}

button:hover,
.details:hover,
.title-container img:hover {
  cursor: pointer;
}

.activity > div:hover {
  background-color: hsl(235, 45%, 61%);
}

@media (min-width: 48rem) {
  body {
    min-height: 64rem;
  }
  main {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.875rem;
    max-width: 69.375rem;
    min-height: 32.375rem;
  }
  main .profil-section {
    grid-row: 1/3;
  }
  main .activity {
    padding-top: 2.8125rem;
  }
  main .activity > div {
    padding: 1.6875rem 1.875rem 1.875rem;
  }
  main .activity .details {
    flex-direction: column;
    align-items: flex-start;
  }
  main .profil-section img {
    height: 5.25rem;
  }
  main .profil-section figure {
    flex: 354;
    flex-direction: column;
    align-items: flex-start;
  }
  main .profil-section figcaption {
    padding-bottom: 2.5625rem;
  }
  main .profil-section ul {
    flex: 164;
    flex-direction: column;
  }
} /*# sourceMappingURL=style.css.map */
